.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}

.form__blocks {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input {

    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.input__text {
    font-size: 18px;
    font-weight: 700;
}

.btn {
    
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}